{% extends 'admin_view.html' %}
{% load static %}
{% block link1 %}
<li class="menu-item ">
  <a href="{% url 'adminview' %}" class="menu-link">
    <i class="menu-icon tf-icons bx bx-home-circle"></i>
    <div data-i18n="Analytics">Dashboard</div>
  </a>
</li>
{% endblock %}
{% block link4 %}
<li class="menu-item active open">
  <a href="javascript:void(0);" class="menu-link menu-toggle">
    <i class="menu-icon tf-icons bx bx-table"></i>
    <div data-i18n="Layouts">Tables</div>
  </a>
  {% endblock %}
  {% block link5 %}
  <ul class="menu-sub ">
    <li class="menu-item ">
      <a href="{% url 'viewlocations' %}" class="menu-link">
        <div data-i18n="Without menu">View Location</div>
      </a>
    </li>
    <li class="menu-item ">
      <a href="{% url 'viewturfs' %}" class="menu-link">
        <div data-i18n="Without navbar">View Turfs</div>
      </a>
    </li>
    <li class="menu-item ">
        <a href="{% url 'viewuser' %}" class="menu-link">
          <div data-i18n="Without navbar">View Users</div>
        </a>
      </li>
      <li class="menu-item active">
        <a href="{% url 'viewcontact' %}" class="menu-link">
          <div data-i18n="Without navbar">View Messages</div>
        </a>
      </li>
      <li class="menu-item ">
        <a href="{% url 'viewmrequest' %}" class="menu-link">
          <div data-i18n="Without navbar">Manager Requests</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'viewamrequest' %}" class="menu-link">
          <div data-i18n="Without navbar">Approved Managers</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'viewdmrequest' %}" class="menu-link">
          <div data-i18n="Without navbar">Declined Managers</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'viewbooking' %}" class="menu-link ">
          <div data-i18n="Without navbar">Turf Bookings</div>
        </a>
      </li>
  </ul>
</li>
</ul>
{% endblock %} 
{% block content %}

<div class="card" style="margin-left: 20px;margin-right: 20px;margin-top: 40px;">
  <h5 class="card-header">Turf Details </h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User Name </th>
          <th>Email</th>
          <th>Subject</th>
          <th>Message</th>
          <th><div class="dropdown">
            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
              <i class="bx bx-dots-vertical-rounded"></i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href=""><i class="bx bx-edit-alt me-1"></i> Edit</a>
              <a class="dropdown-item" href="{% url 'deleteall' id='contact' %}"><i class="bx bx-trash me-1"></i> Delete All</a>
            </div>
          </div>
          </th>        
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
          {% for i in data %}
        <tr>
          <td>{{i.uname}}</td>
          <td>{{i.uemail}}</td>
          <td>{{i.usubject}}</td>
          <td>{{i.umessage}}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'deletecontact' id=i.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
